:root {
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) {
  :root {
    .navbar-item {
      &.has-dropdown {
        .navbar-dropdown {
          display: none;
        }
        &.is-active {
          .navbar-dropdown {
            display: block;
          }
        }
      }
    }
  }
}
